doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/js/jquery.js", type="text/javascript")
    script(src="javascripts/js/underscore.js", type="text/javascript")
    script(src="javascripts/js/backbone.js", type="text/javascript")
    script(src="javascripts/js/bootstrap.js", type="text/javascript")
    script(src="javascripts/js/bootstrap.min.js", type="text/javascript")
    script(src="javascripts/js/bootstrap-carousel.js", type="text/javascript")
    link(href="/stylesheets/bootstrap/bootstrap.min.css", rel="stylesheet")
    link(rel="stylesheet", href="stylesheets/bootstrap/bootstrap-responsive.css")
  body
    block content